@model List<GrammatikLaxen.Models.db.adverb>
@{
    ViewBag.Title = "Adverb";
}

<h2>Adverb</h2>

<p>
    <b>Förklaring:</b><br />
    True betyder att ordet tillhör den typen av adverb.<br />
    Sekundära ordklasser finns i databasen men eftersom det rör sig om så många så visas de inte här.
</p>
<p>
    <b>Svårighetsgrad</b><br />
    Lätt: ordklass, tidsadverb, rumsadverb, sättsadverb<br />
    Medel: gradadverb, orsaksadverb, relativa adverb, satsadverb<br />
    Svårt: -
</p>

<table class="table-bordered">
    <tr>
        <th>Nummer</th>
        <th>Ord</th>
        <th>Tidsadverb</th>
        <th>Rumsadverb</th>
        <th>Sättsadverb</th>
        <th>Gradadverb</th>
        <th>Orsaksadverb</th>
        <th>Relativa adverb</th>
        <th>Satsadverb</th>
        <th>Ordklass</th>
    </tr>

    @foreach (var adverb in Model)
    {
        <tr>
            <th>@adverb.Id</th>
            <td>@adverb.ord</td>
            <td>
                @if (adverb.tidsadverb == false)
                {

                }
                else
                {
                    @adverb.tidsadverb
                }
            </td>
            <td>
                @if (adverb.rumsadverb == false)
                {

                }
                else
                {
                    @adverb.rumsadverb
                }
            </td>
            <td>
                @if (adverb.sättsadverb == false)
                {

                }
                else
                {
                    @adverb.sättsadverb
                }
            </td>
            <td>
                @if (adverb.gradadverb == false)
                {

                }
                else
                {
                    @adverb.gradadverb
                }
            </td>
            <td>
                @if (adverb.orsaksadverb == false)
                {

                }
                else
                {
                    @adverb.orsaksadverb
                }
            </td>
            <td>
                @if (adverb.relativa_adverb == false)
                {

                }
                else
                {
                    @adverb.relativa_adverb
                }
            </td>
            <td>
                @if (adverb.satsadverb == false)
                {

                }
                else
                {
                    @adverb.satsadverb
                }
            </td>
            <td>@adverb.ordklass</td>
        </tr>
    }

</table>
