@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grammatik-laxen</h1>
    <p class="lead">Välkommen till grammatik-laxen! Vad vill du göra? =)</p>
    <div class="col-md-12 row">
        <div class="col-md-6 text-center">
            <a id="mer-info-kontakt" class="btn btn-default btn-block btn-lg" data-toggle="collapse" href="#kontakt" role="button" aria-expanded="false" aria-controls="kontakt">Visa kontakt &raquo;</a>
        </div>
        <div class="col-md-6 text-center">
            <a id="mer-info-om" class="btn btn-primary btn-block btn-lg" data-toggle="collapse" href="#om" role="button" aria-expanded="false" aria-controls="om">Mer info &raquo;</a>
        </div>
    </div>
    <div class="collapse" id="kontakt">
        <div class="card card-body">
            @Html.Partial("_Kontakt")
        </div>
    </div>
    <div class="collapse" id="om">
        <div class="card card-body">
            @Html.Partial("_Om")
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Plugga</h2>
        <p><a href="@Url.Action("Index", "Prov")" class="btn btn-success btn-block btn-lg" title="Vill du lära dig mer om grammatik?">Ordklasser &raquo;</a></p>
        <h4>
            Här hittar du information om de olika ordklasserna.<br /><br />
        </h4>
    </div>

    <div class="col-md-4 text-center">
        <h2>Träna</h2>
        <p><a href="@Url.Action("Index", "Prov")" class="btn btn-warning btn-block btn-lg" title="Vill du utmana dina kunskaper i grammatik?">Spelet &raquo;</a></p>
        <h4>
            Här kan du träna dina kunskaper med ett grammatik-spel.<br /><br />
        </h4>
    </div>

    <div class="col-md-4 text-center">
        <h2>Testa</h2>
        <p><a href="@Url.Action("Index", "Prov")" class="btn btn-danger btn-block btn-lg" title="Vill du ha hjälp att ta fram ett prov?">Proven &raquo;</a></p>
        <h4>
            Här kan du testa dina kunskaper på slumpmässigt genererade prov.<br /><br />
        </h4>
    </div>
</div>

<script>
    $('#mer-info-kontakt').click(function () { 
        $(this).text(function (i, old) {
            return old == 'Dölj kontakt »' ? 'Visa kontakt »' : 'Dölj kontakt »';
        });
    });

    $('#mer-info-om').click(function () {
        $(this).text(function (i, old) {
            return old == 'Dölj info »' ? 'Mer info »' : 'Dölj info »';
        });
    });
</script>