@model List<GrammatikLaxen.Models.db.verb>
@{
    ViewBag.Title = "Verb";
}

<h2>Verb</h2>
<table class="table-bordered">
    <tr>
        <th>Nummer</th>
        <th>Attribut (infinitiv)</th>
        <th>Tema: Infinitiv</th>
        <th>Attribut (preteritum)</th>
        <th>Tema: Preteritum</th>
        <th>Attribut (supinum)</th>
        <th>Tema: Supinum</th>
        <th>Tempus: Presens</th>
        <th>Tempus: Preteritum</th>
        <th>Tempus: Perfekt</th>
        <th>Tempus: Pluskvamperfekt</th>
        <th>Tempus: Futurum</th>
        <th>Tempus: Imperativ</th>
        <th>Particip: Presens</th>
        <th>Particip: Presens 2</th>
        <th>Particip: Perfekt</th>
        <th>Primär ordklass</th>
        <th>Typ</th>
        <th>Sekundär ordklass</th>
    </tr>

    @foreach (var verb in Model)
    {
        <tr>
            <th>@verb.Id</th>
            <td>@verb.attribut_infinitiv</td>
            <td>@verb.infinitiv</td>
            <td>@verb.attribut_preteritum</td>
            <td>@verb.preteritum</td>
            <td>@verb.attribut_supinum</td>
            <td>@verb.supinum</td>
            <td>@verb.presens</td>
            <td>@verb.preteritum</td>
            <td>@verb.perfekt</td>
            <td>@verb.pluskvamperfekt</td>
            <td>@verb.futurum</td>
            <td>@verb.imperativ</td>
            <td>@verb.presens_particip</td>
            <td>@verb.presens_particip_2</td>
            <td>@verb.perfekt_particip</td>
            <td>@verb.ordklass</td>
            <td>@verb.typ</td>
            <td>
                @if (verb.även == verb.ordklass)
                {

                }
                else
                {
                    @verb.även
                }
            </td>
        </tr>
    }

</table>
