@model List<GrammatikLaxen.Models.FragaSvar>
@{
    ViewBag.Title = "Prov";
}
<div class="jumbotron">
    <h1>Prov</h1>
    <p class="lead">Välj vilken typ av prov du vill skapa eller gå tillbaka till startsidan.</p>
    <p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-default btn-lg">&laquo; Tillbaka</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Provnivå: 1</h2>
        <p><a href="@Url.Action("Niva1", "Prov")" class="btn btn-success btn-lg">Generera prov &raquo;</a></p>
        <p><a href="@Url.Action("Niva1Pdf", "Prov")" target="_blank" class="btn-lg">Generera prov till PDF &raquo;</a></p>
        <h4>
            Provet består av 15 lite lättare frågor från blandade ordklasser.<br /><br />
        </h4>
    </div>
    <div class="col-md-4 text-center">
        <h2>Provnivå: 2</h2>
        <p><a href="@Url.Action("Niva1", "Prov")" class="btn btn-warning btn-lg">Generera prov &raquo;</a></p>
        <h4>
            Provet består av 8 lätta och 7 medelsvåra frågor från blandade ordklasser.
        </h4>
    </div>
    <div class="col-md-4 text-center">
        <h2>Provnivå: 3</h2>
        <p><a href="@Url.Action("Niva1", "Prov")" class="btn btn-danger btn-lg">Generera prov &raquo;</a></p>
        <h4>
            Provet består av 6 lätta, 5 medelsvåra och 4 svåra frågor från blandade ordklasser.
        </h4>
    </div>
</div>

@*@foreach (var fragasvar in Model)
    {
        <p>
            @fragasvar.Fraga<br />

            @fragasvar.Svar1<br />

            @if (fragasvar.Svar2 == fragasvar.Svar1)
            {

            }
            else
            {
                @fragasvar.Svar2
            }

            @if (fragasvar.Svar3 == fragasvar.Svar2)
            {

            }
            else
            {
                @fragasvar.Svar3
            }

            @if (fragasvar.Svar4 == fragasvar.Svar3)
            {

            }
            else
            {
                @fragasvar.Svar4
            }

            @if (fragasvar.Svar5 == fragasvar.Svar4)
            {

            }
            else
            {
                @fragasvar.Svar5
            }

            @if (fragasvar.Svar6 == fragasvar.Svar5)
            {

            }
            else
            {
                @fragasvar.Svar6
            }

            @if (fragasvar.Svar7 == fragasvar.Svar6)
            {

            }
            else
            {
                @fragasvar.Svar7
            }

            @if (fragasvar.Svar8 == fragasvar.Svar7)
            {

            }
            else
            {
                @fragasvar.Svar8
            }
        </p>
    }*@
