@model List<GrammatikLaxen.Models.FragaSvar>
@{
    ViewBag.Title = "Lätt";
}

<div>
    <h2>Lätt prov</h2>
    <p>
        <i>
            Notis: provet genereras slumpvis och det finns en liten risk att samma fråga dyker upp två gånger i samma prov.
            Kontrollera därför frågorna innan du använder provet och om du inte är nöjd: generera ett nytt prov!
        </i>
    </p>
    <p><a href="@Url.Action("Latt", "Prov")" class="btn btn-success btn-lg">Generera prov &raquo;</a></p>
</div>

<div class="well">
    @foreach (var fragaSvar in Model)
    {
        <p>
            @fragaSvar.Nummer @fragaSvar.Fraga<br />
            Rätt svar: @fragaSvar.Svar1
            @if (fragaSvar.Svar2 == fragaSvar.Svar1)
            {

            }
            else
            {
                <i>, </i>@fragaSvar.Svar2
            }

            @if (fragaSvar.Svar3 == fragaSvar.Svar2)
            {

            }
            else
            {
                <i>, </i>@fragaSvar.Svar3
            }

            @if (fragaSvar.Svar4 == fragaSvar.Svar3)
            {

            }
            else
            {
                <i>, </i>@fragaSvar.Svar4
            }

            @if (fragaSvar.Svar5 == fragaSvar.Svar4)
            {

            }
            else
            {
                <i>, </i>@fragaSvar.Svar5
            }

            @if (fragaSvar.Svar6 == fragaSvar.Svar5)
            {

            }
            else
            {
                <i>, </i>@fragaSvar.Svar6
            }

            @if (fragaSvar.Svar7 == fragaSvar.Svar6)
            {

            }
            else
            {
                <i>, </i>@fragaSvar.Svar7
            }

            @if (fragaSvar.Svar8 == fragaSvar.Svar7)
            {

            }
            else
            {
                <i>, </i>@fragaSvar.Svar8
            }
        </p>
    }
</div>