@model List<GrammatikLaxen.Models.FragaSvar>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Niva1Utskrift</title>
</head>
<body>
    <h1>Grammatik-prov</h1>
    <h3>Ditt namn:</h3>
    <div>
        @foreach (var fragaSvar in Model)
        {
            <p>
                @fragaSvar.Nummer @fragaSvar.Fraga<br />
                Ditt svar:<br /><br />
            </p>
        }
    </div><br />
    <h1>Facit</h1>
    <div>
        @foreach (var fragaSvar in Model)
        {
            <p>
                @fragaSvar.Nummer @fragaSvar.Fraga<br />
                Rätt svar: @fragaSvar.Svar1
                @if (fragaSvar.Svar2 == fragaSvar.Svar1)
                {

                }
                else
                {
                    <i>, </i>@fragaSvar.Svar2
                }

                @if (fragaSvar.Svar3 == fragaSvar.Svar2)
                {

                }
                else
                {
                    <i>, </i>@fragaSvar.Svar3
                }

                @if (fragaSvar.Svar4 == fragaSvar.Svar3)
                {

                }
                else
                {
                    <i>, </i>@fragaSvar.Svar4
                }

                @if (fragaSvar.Svar5 == fragaSvar.Svar4)
                {

                }
                else
                {
                    <i>, </i>@fragaSvar.Svar5
                }

                @if (fragaSvar.Svar6 == fragaSvar.Svar5)
                {

                }
                else
                {
                    <i>, </i>@fragaSvar.Svar6
                }

                @if (fragaSvar.Svar7 == fragaSvar.Svar6)
                {

                }
                else
                {
                    <i>, </i>@fragaSvar.Svar7
                }

                @if (fragaSvar.Svar8 == fragaSvar.Svar7)
                {

                }
                else
                {
                    <i>, </i>@fragaSvar.Svar8
                }
                <br /><br />
            </p>
        }
    </div>
    <p><i>Uppdatera sidan, innan du sparar filen lokalt, för att generera ett nytt prov i PDF-format.</i></p>
    <p>&copy; @DateTime.Now.Year - Niklas Carlsson</p>
</body>
</html>
