@model GrammatikLaxen.Models.FragaSvar

<div class="row col-md-12 text-center">
    <h4>@Model.Fraga</h4>
    <h4 id="dittSvar" class="text-primary">Ditt svar:</h4>
    <h4 id="rattSvarTom" class="text-success">Rätt svar:</h4> <!--Dölj när svara klickas-->
    <h4 id="rattSvar" class="text-success hidden">
        Rätt svar: @Model.Svar1
        @if (Model.Svar2 != Model.Svar1)
        {
            <i>, </i> @Model.Svar2
        }
        @if (Model.Svar3 != Model.Svar2)
        {
            <i>, </i> @Model.Svar3
        }
        @if (Model.Svar4 != Model.Svar3)
        {
            <i>, </i> @Model.Svar4
        }
        @if (Model.Svar5 != Model.Svar4)
        {
            <i>, </i> @Model.Svar5
        }
        @if (Model.Svar6 != Model.Svar5)
        {
            <i>, </i> @Model.Svar6
        }
        @if (Model.Svar7 != Model.Svar6)
        {
            <i>, </i> @Model.Svar7
        }
        @if (Model.Svar8 != Model.Svar7)
        {
            <i>, </i> @Model.Svar8
        }
    </h4> <!--Visa när svara klickas-->
    <input type="text" name="svar" id="svar" class="input-lg" /><br /><br />
    <div class="col-md-4"></div>
    <div class="col-md-4"><a id="svara" href="#" class="btn btn-block btn-primary btn-lg gl-button andra-id">Svara</a></div>
    <div class="col-md-4"></div>
</div>

<div class="hidden">
    <p id="svar1">@Model.Svar1</p>
    <p id="svar2">@Model.Svar2</p>
    <p id="svar3">@Model.Svar3</p>
    <p id="svar4">@Model.Svar4</p>
    <p id="svar5">@Model.Svar5</p>
    <p id="svar6">@Model.Svar6</p>
    <p id="svar7">@Model.Svar7</p>
    <p id="svar8">@Model.Svar8</p>
</div>

<script>
    @*$('#nastaFraga').click(function () {
        $.get('@Url.Action("LaddaSpelet", "Spel")', {}, function (response) {
            $("#fragan").html(response);
        });

        $('#dittSvar').text(function () {
            return "Ditt svar:";
        });
        $('#rattSvar').addClass("hidden");
        $('#rattSvarTom').removeClass(["hidden"]);
    });*@


    $('#svara').click(function () {
        var svaret = document.getElementById("svar").value;

        $('#dittSvar').text(function () {
            return "Ditt svar: " + svaret;
        });

        $('#rattSvarTom').addClass("hidden");
        $('#rattSvar').removeClass("hidden");
    });
</script>