@model GrammatikLaxen.Models.FragaSvar
@{
    ViewBag.Title = "Spelet";
}
<div class="jumbotron gl-div-opacity">
    <div class="col-md-12 row">
        <div class="col-md-12 text-left">
            <a href="@Url.Action("Index", "Spel")" class="btn btn-danger btn-lg gl-button">&laquo; Avbryt</a>
        </div>
    </div><br />
    <div class="col-md-12 text-center">
        <div class="col-md-12">
            <div id="_Svara">
                @Html.Partial("_Spelet")<br />
            </div>

            <p id="dittSvar" class="text-primary">Ditt svar:</p>

            <p id="rattSvarTom" class="text-success">Rätt svar:</p>
            <p id="rattSvar" class="text-success hidden">
                Rätt svar: @Model.Svar1
                @if (Model.Svar2 != Model.Svar1)
                {
                    <i>, </i> @Model.Svar2
                }
                @if (Model.Svar3 != Model.Svar2)
                {
                    <i>, </i> @Model.Svar3
                }
                @if (Model.Svar4 != Model.Svar3)
                {
                    <i>, </i> @Model.Svar4
                }
                @if (Model.Svar5 != Model.Svar4)
                {
                    <i>, </i> @Model.Svar5
                }
                @if (Model.Svar6 != Model.Svar5)
                {
                    <i>, </i> @Model.Svar6
                }
                @if (Model.Svar7 != Model.Svar6)
                {
                    <i>, </i> @Model.Svar7
                }
                @if (Model.Svar8 != Model.Svar7)
                {
                    <i>, </i> @Model.Svar8
                }
            </p>

            <input type="text" name="svar" id="svar" /><br />
        </div><br />

        <div class="col-md-12 row">
            <div class="col-md-6"><a id="svara" href="#" class="btn btn-primary btn-lg gl-button">Svara</a></div>
            @*<div class="col-md-6"><a href="@Url.Action("Spelet", "Spel")" class="btn btn-default btn-lg gl-button">Nästa fråga &raquo;</a></div>*@
            <div class="col-md-6"><a id="nasta" href="#" class="btn btn-default btn-lg gl-button">Nästa fråga &raquo;</a></div>
        </div>

    </div>
</div>

<script>

    $('#nasta').click(function () {
        $.get('@Url.Action("LaddaSpelet", "Spel")', {}, function (response) {
                $("#_Svara").html(response);
        });

        $('#dittSvar').text(function () {
            return "Ditt svar:";
        });
        $('#rattSvar').addClass("hidden");
        $('#rattSvarTom').removeClass(["hidden"]);

        $('#svar1').text(function () {
            return "@Model.Svar1";
        });
        $('#svar2').text(function () {
            return "@Model.Svar2";
        });
        $('#svar3').text(function () {
            return "@Model.Svar3";
        });
        $('#svar4').text(function () {
            return "@Model.Svar4";
        });
        $('#svar5').text(function () {
            return "@Model.Svar5";
        });
        $('#svar6').text(function () {
            return "@Model.Svar6";
        });
        $('#svar7').text(function () {
            return "@Model.Svar7";
        });
        $('#svar8').text(function () {
            return "@Model.Svar8";
        });
    });

    $('#svara').click(function () {

        var svaret = document.getElementById("svar").value;

        var svar1 = document.getElementById("svar1").textContent;
        var svar2 = document.getElementById("svar2").textContent;
        var svar3 = document.getElementById("svar3").textContent;
        var svar4 = document.getElementById("svar4").textContent;
        var svar5 = document.getElementById("svar5").textContent;
        var svar6 = document.getElementById("svar6").textContent;
        var svar7 = document.getElementById("svar7").textContent;
        var svar8 = document.getElementById("svar8").textContent;

        var svarString = svar1;

        $('#dittSvar').text(function () {
            return "Ditt svar: " + svaret;
        });

        $('#rattSvarTom').addClass("hidden");
        $('#rattSvar').removeClass(["hidden"]);

        //$('#rattSvarTom').text(function () {
        //    return "Rätt svar: " + svarString;
        //});


        //if (svar2 != svar1) {
        //    svarString = svarString + ", " + svar2;
        //}
        //else if (svar3 != svar2) {
        //    svarString = svarString + ", " + svar3;
        //}
        //else if (svar4 != svar3) {
        //    svarString = svarString + ", " + svar4;
        //}
        //else if (svar5 != svar4) {
        //    svarString = svarString + ", " + svar5;
        //}
        //else if (svar6 != svar5) {
        //    svarString = svarString + ", " + svar6;
        //}
        //else if (svar7 != svar6) {
        //    svarString = svarString + ", " + svar7;
        //}
        //else if (svar8 != svar7) {
        //    svarString = svarString + ", " + svar8;
        //}

        //alert(svaret + " " + svar1);



        //$('#mer-info-provniva3').click(function () {
        //    $(this).text(function (i, old) {
        //        return old == 'Dölj info -' ? 'Mer info +' : 'Dölj info -';
        //    });
        //});

        @*if (svaret == svar1
                || svaret == svar2
            || svaret == svar3
            || svaret == svar4
            || svaret == svar5
            || svaret == svar6
            || svaret == svar7
            || svaret == svar8) {


            $.get('@Url.Action("LaddaSpelet", "Spel")', {}, function (response) {
                $("#_Svara").html(response);
            });

        }

        else {
            $.get('@Url.Action("SlutPåSpel", "Spel")', {}, function (response) {
                $("#_Svara").html(response);
            });
        }*@

    });


     @*$('#svara').click(function () {
            $.get('@Url.Action("LaddaSpelet", "Spel")', {}, function (response) {
                $("#_Svara").html(response);
            });
        });*@

</script>
